
@{
    ViewBag.Title = "Inventory Details";
}
<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" style="width:72rem">
    <div class="toast-header">
        <strong class="me-auto">Inventory Details</strong>
        <button type="button" class="btn-close ms-2 mb-1" data-bs-dismiss="toast" aria-label="Close">
            <span aria-hidden="true"></span>
        </button>
    </div>
    <div class="toast-body">
        <form>
            <div class="tab-pane fade active show" id="home" role="tabpanel">
                <fieldset>
                    <table class="table table-hover">
                        <thead>
                            <tr class="table-primary">
                                <th scope="col">Category</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">SKU</th>
                                <th scope="col">Status</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Home Decoration</th>
                                <th scope="row">Vase</th>
                                <td>VA1547555</td>
                                <td>Return to Supplier</td>
                                <td>1</td>
                                <td>
                                    defected
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Home Decoration</th>
                                <th scope="row">Vase</th>
                                <td>VA1547556</td>
                                <td>In Stock</td>
                                <td>1</td>
                                <td>
                                    Good
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Home Decoration</th>
                                <th scope="row">Vase</th>
                                <td>VA1547557</td>
                                <td>In Stock</td>
                                <td>1</td>
                                <td>
                                    Good
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Home Decoration</th>
                                <th scope="row">Vase</th>
                                <td>VA1547558</td>
                                <td>Restock</td>
                                <td>1</td>
                                <td>
                                    Customer return
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>
        </form>
    </div>
</div>





