
<form>
    <div class="row">
        <div style="width:40% !important;">
            <div class="tab-pane fade active show" id="home" role="tabpanel">
                <div class="card border-secondary mb-3" style="max-width: 32rem;">
                    <div class="card-header">
                        <button class="btn btn-secondary" value="Spit">Split</button>
                        &nbsp;
                        <button class="btn btn-dark" value="Print">Print</button>
                        &nbsp;
                        <button class="btn btn-danger" value="Void">Void</button>
                    </div>
                    <div class="card-body">
                        <fieldset>
                            <table>
                                <tr class="fw-bold">
                                    <td style="width:5%;">1.</td>
                                    <td style="width:75%;">Vase</td>
                                    <td style="text-align: right; width: 10%;">(x2) $20.00</td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="text-align:right; font-size:12px;">
                                        (10%) -0.20
                                    </td>
                                </tr>
                                <tr class="fw-bold">
                                    <td style="width:5%;">2.</td>
                                    <td>1945 Telephone</td>
                                    <td style="text-align:right;">$125.00</td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="border-top: 1px solid #000;">
                                        <table style="text-align:right; font-size:12px;" align="right">
                                            <tr>
                                                <td>Subtotal</td>
                                                <td>$144.80</td>
                                            </tr>
                                            <tr>
                                                <td>Tax</td>
                                                <td>$1.40</td>
                                            </tr>
                                            <tr class="fw-bold">
                                                <td>Total</td>
                                                <td>$145.20</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </div>
                    <div class="card-footer text-muted">
                       <button class="btn btn-primary" style="width:100%;">Pay</button>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:60% !important;">
            <div class="tab-pane fade active show" id="home" role="tabpanel">
                <div class="card border-primary mb-3" style="max-width: 70rem;">
                    <div class="card-header">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Search</span>
                            <input type="text" class="form-control" placeholder="barcode, product name, category, sku">
                        </div>
                    </div>
                    <div class="card-body">
                        <fieldset>
                            <table>
                                <tr>
                                    <td colspan="4"><strong>Category</strong></td>
                                </tr>
                                <tr>
                                    <td style="width:5%;">
                                        <div class="alert alert-dismissible alert-primary">
                                            <strong>Lorem Ipsum</strong>
                                        </div>
                                    </td>
                                    <td style="width:5%;">
                                        <div class="alert alert-dismissible alert-primary">
                                            <strong>Bono Malorum</strong>
                                        </div>
                                    </td>
                                    <td style="width:5%;">
                                        <div class="alert alert-dismissible alert-primary">
                                            <strong>Fini </strong>
                                        </div>
                                    </td>
                                    <td style="width:5%;">
                                        <div class="alert alert-dismissible alert-primary">
                                            <strong>Lorem Ipsum</strong>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:5%;">
                                        <div class="alert alert-dismissible alert-primary">
                                            <strong>Lorem Ipsum</strong>
                                        </div>
                                    </td>
                                    <td style="width:5%;">
                                        <div class="alert alert-dismissible alert-primary">
                                            <strong>Bono Malorum</strong>
                                        </div>
                                    </td>
                                    <td style="width:5%;">
                                        <div class="alert alert-dismissible alert-primary">
                                            <strong>Fini </strong>
                                        </div>
                                    </td>
                                    <td style="width:5%;">
                                        <div class="alert alert-dismissible alert-primary">
                                            <strong>Lorem Ipsum</strong>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:5%;">
                                        <div class="alert alert-dismissible alert-primary">
                                            <strong>Lorem Ipsum</strong>
                                        </div>
                                    </td>
                                    <td style="width:5%;">
                                        <div class="alert alert-dismissible alert-primary">
                                            <strong>Bono Malorum</strong>
                                        </div>
                                    </td>
                                    <td style="width:5%;">
                                        <div class="alert alert-dismissible alert-primary">
                                            <strong>Fini </strong>
                                        </div>
                                    </td>
                                    <td style="width:5%;">
                                        <div class="alert alert-dismissible alert-primary">
                                            <strong>Lorem Ipsum</strong>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                        <fieldset>
                            <span><strong>Customer Info</strong></span>
                            <div class="row">
                                <div class="form-group col">
                                    <label for="exampleInputEmail1" class="form-label mt-4">First Name</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter last name">
                                </div>
                                <div class="form-group col">
                                    <label for="exampleInputEmail1" class="form-label mt-4">Last Name</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter last name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <label for="exampleInputEmail1" class="form-label mt-4">Phone</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter phone">
                                </div>
                                <div class="form-group col">
                                    <label for="exampleInputEmail1" class="form-label mt-4">Email</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <button type="submit" class="btn btn-light mt-4 width-150px">Search</button>
                                    &nbsp;
                                    <button type="submit" class="btn btn-primary mt-4 width-150px">Save</button>
                                    &nbsp;
                                    <button type="submit" class="btn btn-secondary mt-4 width-150px">Clear</button>
                                </div>     
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

